# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env

# Raw datasets
data/raw/*.csv
data/raw/*.zip

# Processed datasets
data/processed/*.csv

# Forecast outputs
data/forecasts/*.csv

# Trained models
models/*.pkl
models/*.joblib
models/*.json

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db